.rating {
  position: absolute;
  color: var(--clr-white);
  border-radius: 50%;
  padding: .5em;
  background: rgba(0,0,0,.7);
}

.green {
  border: 2px solid rgba(27,158,27,.6);
}

.orange {
  border: 2px solid rgba(190,127,17,.6);
}

.red {
  border: 2px solid rgba(202,13,13,.6);
}

.grey {
  border: 2px solid var(--clr-grey);
}
