.movie-details-container {
  display: flex;
  flex-direction: column;
}

.movie-info-container {
  color: var(--clr-white);
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: 350px 1fr;
  grid-template-areas: "poster movie-info";
  margin-bottom: 1.6rem;
}

.app-movie-info {
  text-align: center;
}

.spinner {
  text-align: center;
}

@media screen and (max-width: 790px) {
  .movie-details-container {
    grid-template-areas:
          "movie-info"
          "poster";
    grid-template-columns: 1fr;
    grid-template-rows: 450px 1fr;
    justify-items: center;
  }
}
