.movie-card {
  width: 203px;

}

@media screen and (max-width: 1200px) {
  .movie-card {
    width: 232px;
  }
}

@media screen and (max-width: 1130px) {
  .movie-card {
    width: 200px;
  }
}

@media screen and (max-width: 1000px) {
  .movie-card {
    width: 262px;
  }

  .remove-btn {
    margin-left: 1.2em;
  }

}

@media screen and (max-width: 940px) {
  .movie-card {
    width: 270px;
    margin-left: 1.2em;

  }
  .remove-btn {
    margin-left: 1.2em;
  }
}
