.movie-list-container {
  display: flex;
  flex-wrap: wrap;
}

.btn {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.no-movies {
  font-size: 1.5rem;
  padding-top: 1.2rem;
  text-align: center;
}

.pagination /deep/ .ngx-pagination {
  text-align: center;
}

.pagination /deep/ .ngx-pagination .current {
  background: var(--clr-red);
}

.pagination /deep/ .ngx-pagination .current .ng-star-inserted {
  color: #fff;
  outline: none;
  border: none;
}

.pagination /deep/ .ngx-pagination .pagination-previous.disabled .ng-star-inserted,
.pagination /deep/ .ngx-pagination .pagination-previous.disabled.ng-star-inserted::before,
.pagination /deep/ .ngx-pagination .pagination-next.disabled .ng-star-inserted,
.pagination /deep/ .ngx-pagination .pagination-next.disabled.ng-star-inserted::after {
  color: #616060;

}

.pagination /deep/ .ngx-pagination :not(.disabled) .ng-star-inserted:hover,
.pagination /deep/ .ngx-pagination .pagination-previous:not(.disabled) .ng-star-inserted:hover{
  color: black;
  background-color: #fff;
}

.pagination /deep/ .ngx-pagination .pagination-next,
.pagination /deep/ .ngx-pagination .pagination-previous,
.pagination /deep/ .ngx-pagination .ng-star-inserted {
  color: var(--clr-grey);
}

/*.ngx-pagination .ng-star-inserted {*/
/*  margin-top: 1rem;*/
/*}*/

@media screen and (max-width: 950px) {
  .movie-list-container {
    justify-content: center;
  }
}


/*@media screen and (max-width: 942px) {*/
/*  app-movie-card {*/
/*    margin: 0 auto;*/
/*  }*/
/*}*/
