.movie-card {
    width: 190px;
    margin-left: 1.2em;
    margin-bottom: 1.2em;
    text-align: center;
    color: var(--clr-white);
    outline: none;
}

.image-container {
  width: 100%;
  position: relative
}

.movie-card img {
  transition: var(--transition);
}

.movie-card:hover {
    cursor: pointer;
}

.movie-card:active {
    outline: none;
}

.movie-card:hover img {
  transform: scale(1.05);
}

.movie-info {
  margin-top: .8em;
}

.title {
    font-size: 1em;
}

.release-date, .genres {
  font-size: .8em;
}

.release-date {
    margin: .3em;
}

.remove-btn {
  margin-bottom: .8rem;
  text-align: center;
  margin-left: 1.2em;
}


@media screen and (max-width: 1200px) {
    .movie-card {
        width: 222px;
    }
}

@media screen and (max-width: 1130px) {
  .movie-card {
    width: 185px;
  }
}

@media screen and (max-width: 1000px) {
  .movie-card {
    width: 262px;
  }
}

@media screen and (max-width: 940px) {
  .movie-card {
    width: 335px;
    margin:  0 auto 1rem;
  }
  .remove-btn {
    margin-left: 0;
  }
}


