.movie-card {
    width: 190px;
    margin-left: 1.2em;
    margin-bottom: 1.2em;
    text-align: center;
    color: var(--clr-white);
    outline: none;
}

.image-container {
  width: 100%;
  position: relative
}

.movie-card img {
  transition: var(--transition);
}

.movie-card:hover {
    cursor: pointer;
}

.movie-card:active {
    outline: none;
}

.movie-card:hover img {
  transform: scale(1.05);
}

.movie-info {
  margin-top: .5em;
}

.title {
    font-size: 1em;
}

.release-date, .genres {
  font-size: .8em;
}

.release-date {
    margin: .3em;
}

.fa-trash {
  /*position: absolute;*/
  /*top: .5rem;*/
  /*right: .5rem;*/
}

.remove-btn {
  /*border-radius: initial;*/
  margin-bottom: .8rem;
  text-align: center;
  margin-left: 1.2em;
}


@media screen and (max-width: 1200px) {
    .movie-card {
        width: 222px;
    }
}

@media screen and (max-width: 1130px) {
  .movie-card {
    width: 185px;
  }
}

@media screen and (max-width: 1000px) {
  .movie-card {
    width: 262px;
  }
}

@media screen and (max-width: 940px) {
  .movie-card {
    width: 335px;
    margin:  0 auto 1rem;
  }
}

/*@media screen and (max-width: 1149px) {*/
/*    .movie-card {*/
/*        width: 235px;*/
/*    }*/
/*}*/


/*@media screen and (max-width: 940px) {*/
/*  .movie-card {*/
/*    width: 260px;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 798px) {*/
/*  .movie-card {*/
/*    margin-right: 0;*/
/*    width: 280px;*/
/*  }*/
/*}*/
/*@media screen and (max-width: 630px) {*/
/*  .movie-card {*/
/*    margin: 0 auto 1.2em;*/

/*  }*/
/*}*/


